@import "src/utils/variables";

.detector {
  &__container {
    margin: 8px;
    min-height: 600px;
    border: 2px solid $color-manatee;
    border-radius: 8px;
    display: flex;
    background-color: $color-black;
  }
}
