@import "src/utils/variables";

.detector {
  &__container {
    margin: 8px;
    max-height: 700px;
    height: 100%;
    border: 2px solid $color-manatee;
    border-radius: 8px;
    display: flex;
    background-color: $color-black;
  }
}
