@import "src/utils/variables";

.App {
  height: 100%;
  background-color: $color-blue;
}

.canvas {
  &__container {
    background-color: $color-black;
    border-radius: 8px;
    border: 2px solid $color-manatee;
    display: flex;
    flex-direction: column;
    height: calc(100% - 124px);
    margin: 0px 8px 8px 8px;
  }

  &__buttons-row {
    width: 100%;
    margin-top: 8px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }

  &__button-group {
    display: flex;
    align-items: baseline;
    flex-direction: row;
    margin-bottom: 4px;
    padding: 4px;
  }

  &__button {
    background-color: $color-light-black;
    border-radius: 8px;
    border: 2px solid $color-manatee;
    color: $color-manatee;
    margin: 4px;
    padding: 8px;
    cursor: pointer;

    &:hover {
      border-color: $color-white;
    }
  }

  &__event-index {
    align-items: center;
    background-color: $color-light-black;
    border-radius: 8px;
    border: 2px solid $color-manatee;
    color: $color-manatee;
    display: flex;
    height: 28px;
    justify-content: center;
    margin-left: 4px;
    text-align: center;
    width: 52px;
  }
}
